.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}


/* footer */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.headerPrincipal-contatoFrom {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}